<script setup lang="ts">
import { useAuthStore } from "@/stores/auth";
import { ref } from "vue";
const authStore = useAuthStore();
const drawer = ref(true);
const rail = ref(true);
</script>
<template>
  <VNavigationDrawer
    v-model="drawer"
    :rail="rail"
    permanent
    @click="rail = false"
  >
    <VListItem
      prepend-avatar="https://randomuser.me/api/portraits/men/85.jpg"
      title="John Leider"
      nav
    >
      <template v-slot:append>
        <VBtn
          variant="text"
          icon="mdi-chevron-left"
          @click.stop="rail = !rail"
        ></VBtn>
      </template>
    </VListItem>

    <VDivider></VDivider>

    <VList density="compact" nav>
      <VListItem
        prepend-icon="mdi-home-city"
        title="Home"
        value="home"
        to="/"
      ></VListItem>
      <VListItem
        prepend-icon="mdi-food"
        title="Product"
        value="product"
        to="/product"
      ></VListItem>
      <VListItem
        prepend-icon="mdi-account"
        title="User"
        value="user"
        to="/user"
      ></VListItem>
      <v-list-item
        prepend-icon="mdi-logout"
        title="Logout"
        value="logout"
        @click="authStore.logout"
      ></v-list-item>
    </VList>
  </VNavigationDrawer>
</template>
